@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
a:not(.header a, .footer a){
    color: darkgoldenrod !important;
}

a:not(.header a, .footer a):hover {
    color: goldenrod !important;
}

.header {
    color: white;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    box-shadow: 0 0 30px 2px lightgray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}
.hide-me {
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-200px);
    }
}
.header .icon {
    float: left;
    width: 30%;
    text-align: center;

}
.header .icon img {
    position: relative;
    bottom: 10px;
    width: 35px;
}
.header .icon span {
    font-size: 26px;
    position: relative;
    top: 10px;
    left: 10px;
}
.header .menu {
    float: right;
    width: 30%;
    text-align: center;

}
.header ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px;
}
.header ul li {
    display: inline-block;
    margin-left: 30px;
}
.header ul li a {
    color: white;
}
.article {
    max-width: 960px;
    /*border: 1px solid black;*/
    margin-left: 5%;
    margin-top: 150px;
}
.article .heading {
    border-bottom: 1px solid black;
}
.sidebar {
    /*border: 1px solid black;*/
    width: 350px;
    position: fixed;
    right: 5%;
    top: 25%;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}
.move-me {
    animation: move-up 1s forwards;
}
@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-25%);
    }
}

.sidebar .similar-cases, .sidebar .similar-acts, .sidebar .acts-cited {
    padding: 10px;
    list-style-type: none;
}
.sidebar .tags{

}
.sidebar .tags span {
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px 10px;
    margin: 3px;
}
.article .heading h1{
    font-size: 30px ;

    padding-left: 10px;
}
.article .info table {
    border: 1px solid black;
    margin: 20px auto 20px auto;
    font-size: 20px;
}
.article .info table tr:nth-of-type(even) {
    background-color: #f4f4f4
}
.article .info table td {
    border: 1px solid black;
    padding: 3px 6px;
}

.case-specification, .acts-specification {
    padding-top: 20px;
}

.case-specification h2, .acts-specification h2 {
    font-size: 29px;
    padding-left: 10px;
}

.article .case-specification ul, .article .acts-specification ul {
    list-style-type: decimal;
    padding: 20px;
    padding-top: 0;
}

.article .case-specification ul li, .article .acts-specification ul li {
    /*border: 1px solid black;*/
    padding: 10px;
}
.article .case-specification ul li  blockquote {
    padding: 20px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}
.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 12px;
    padding-left: 7%;
    border: 1px solid black;

}
.footer ul li {
    display: inline-block;
    margin-right: 2%;
}
.footer ul li a {
    color: white;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
@media only screen and (max-width: 1500px) {
    .article {

        margin-left: 10px;
    }
    .sidebar {
        right: 0;

    }
}
@media only screen and (max-width: 1300px) {

    .sidebar {
        width: 250px;
        top: 19%;
    }
}
@media only screen and (max-width: 1200px) {
    .article {
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    .header .menu , .header .icon{

        float: none;
        width: 100%;
    }
    .header .menu ul {
        padding: 0;
    }
    .header .menu li{
       margin-right: 30px;
    }
    .article {
        margin-top: 200px;
    }
}