@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700');
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
a {
    text-decoration: none;
}
html {
    padding: 0;
}
body {
    margin: 0;
}

.header {
    border: 1px solid black;
}
.main .result-list {
    max-width: 960px;
    margin-left: 12% !important;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 10px;
}

.main .result-list .result {
    padding: 10px 20px;
}

.result-list .result .heading {

}

.result-list .result .heading p a {
    font-size: 20px;
    text-decoration: underline;
}

.result-list .result .heading p:nth-of-type(2) {
    margin-top: -10px;
    font-size: 12px;

}
.result-list .result .info ul {
    border: 1px solid lightgray;
}
.result-list .result .info ul li {
    display: inline-block;
    margin-left: 20px;
}
.result .summary{

    margin-top: -12px;
}
.result .acts-cited{

}
/*.result:nth-of-type(even) {*/
    /*background-color: #F8F8F8;*/
/*}*/

.category, .judge, .acts {
    margin-bottom: 20px;
}

.footer-2 {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px 0px gray;
}

.footer-2 ul {
    max-width: 1000px;
    margin-left: 10%;

}
.footer-2 ul li {
    display: inline-block;
    padding: 5px 10px 0 5px;
}
.footer-2 ul li a {
    color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button.minimal {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "josephine sans", helvetica, arial, sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 50%;
}

button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

@media only screen and (max-width: 1600px) {
    .main .result-list {
        margin-left: 10% !important;
    }



}

@media only screen and (max-width: 1200px) {
    .logo img{
        margin-top: 20px;
    }

    .search .date {

        width: 100%;

        margin-top: 13px;
        float: none;
    }
    .search .date input {
        width: 30%;
    }
    .main .result-list {
        margin: auto !important;
    }

}

@media only screen and (max-width: 1000px) {
    .search #searchbox {
        font-size: 14px !important;
    }
    .search .more-filters, .search .date {
        font-size: 12px !important;
    }
    .search .date input {
        height: 22px !important;
    }

    .header .more-filters {
        display: none;
    }

    .header img {
        width: 30px;
        margin-top: 10px !important;
    }

    .search-btn {
        display: none;
    }

    .main .result-list {
        margin-top: 130px;
    }
}
