@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

a
{
    text-decoration: none;
}

*
{
    font-family: 'Josefin Sans', sans-serif;
}

.header
{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;

    padding: 10px;
    z-index: 1000;
}

.header-text
{
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
}

.line
{
    border-color: white;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: -1px;
    padding-top: 2px;
    padding: 0;
}

.dropdowns
{
    margin-top: -1%;
    margin-left: 5%;
}

.arrow
{
    color: white;
}

.buttons {
    background:none!important;
    border:none;
    padding:0!important;
    color: white;
    cursor:pointer;
}

.search-box
{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}
.input-group {
    width: 90% !important;
    margin: auto;
}

input[type=date] {
    border-radius: 5px !important;
    border-color: darkgrey !important;
}

input[type=date]:focus {
    border-color: black !important;
    outline: none !important;
}
.buttons
{
    margin-left: 5%;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.input-group
{
    padding-top: 1%;
}

.filter-wrap input{
    border: 1px solid lightgray;
}
.filters
{
    font-size:  20px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.filters .filter-icon {
    position: absolute;

}
.date
{
    text-align: center;

}
.date input {

    border-radius: 2px;
    padding: 2px 10px;
}
.more-filters
{
    padding-top: 2%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.more-filters .category, .more-filters .judge {
    width: 45%;

}

.more-filters .acts {
    width: 100%;
    margin: 10px auto 10px auto;
}

.more-filters div select {
    width: 100%;
}

.more-filters p {

    text-align: center;
}
.form1
{
    margin-left: 5%;
}

.footer
{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;

    padding: 10px;
}
.footer ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    float: left;
    width: 50%;
}
.footer li {
    display: inline-block;
}
.footer div {
    margin: 5px;
    text-align: right;
    padding-right: 7%;
}
.recents {

    max-width: 960px;
    margin: auto;
    margin-bottom: 100px;
}
.recents ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.recents ul li {
    padding: 2px 10px;
}
.recents ul li:nth-of-type(2n) {
    background-color: lightgray;
}
.recent-selected {
    background-color: #222222;
    color: white;
}
@media only screen and (max-width: 1500px) {
    .filters .filter-icon {
        position: relative;
        text-align: center;
        margin-bottom: 2%;
    }

    .more-filters {
        flex-flow: column wrap;
    }

    .more-filters .category, .more-filters .judge, .more-filters .acts {
        width: 100%;
        margin: auto;
    }

}
@media only screen and (max-width: 960px) {
    .filters .date  span{
        display: block;


    }
    .filters .date input {
        display: block;
        margin: auto;
    }

    .more-filters {
        width: 100%;
    }

}
@media only screen and (max-width: 720px) {

    .logo {
        margin-top: 200px;
    }
    .footer {
        text-align: center;
    }
    .footer div {
        text-align: center;
    }
    .footer ul {
        width: 100%;
        float: none !important;
        margin: 0;

    }


}
