<!DOCTYPE html>
<html lang="en">
<head>
    <title>Legal Assistant</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Legal Assistant, Legal Query, Cases, Acts, Legal Help" name="keywords"/>
    <meta content="Open Soft" name="author"/>
    <link href="../static/css/style.css" rel="stylesheet">


    <script src="../static/js/script.js"></script>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- For fa fa-angle-down -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <link href="../static/img/logo.png" rel="shortcut icon" type="image/png"/>

    <script src="../static/js/main.js"></script>


</head>

<body>
<div class="header">
    <a href="/" style="text-decoration: none; color: white">
        <img src="../static/img/nav-logo.png" style="position: fixed" width="50px">
        <div class="header-text">LegalAssistant.com</div>
    </a>
    <hr class="line">
    <div class="dropdowns">
        <button class="buttons">Law Topics <i class="fa fa-angle-down arrow"></i></button>
        <button class="buttons">Insight & Analysis <i class="fa fa-angle-down arrow"></i></button>
        <button class="buttons">Surveys & Rankings <i class="fa fa-angle-down arrow"></i></button>
        <button class="buttons">Legal Newswire <i class="fa fa-angle-down arrow"></i></button>
        <button class="buttons">Practice Tools <i class="fa fa-angle-down arrow"></i></button>
        <button class="buttons"
        >All Sections <i class="fa fa-angle-down arrow"></i></button>
    </div>
</div>

<img alt="logo" class="logo" src="../static/img/logo.png" width="150px">
<div class="search-box">
    <form action="/search" method="get">
        <div class="input-group inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input class="form-control" id="querybox" name="query"
                   placeholder="&#xF002; Search by keywords/ NL query / case title / act / section"
                   style="font-family:Arial, FontAwesome" type="text">
            <span class="input-group-btn">
                <button type="submit" id="search_button" class="btn btn-default" value="search">Search</button>
            </span>

        </div>
        <div class="filter-wrap">
            <div class="filters">
                <div class="filter-icon"><img src="../static/img/filter.png" alt="filter">Filter Search</div> <div class="date"><span class="from">from : <input type="date" name="from"></span> <span class="to">to: <input type="date" name="to"></span></div>
            </div>
            <div class="more-filters">
                <div class="category">

                    <select class="category-select" multiple="multiple" name="categories[]">
                        <option value="1">Alpha</option>
                        <option value="2">Beta</option>
                    </select>
                    <p>Categories</p>
                </div>

                <div class="judge">

                    <select class="judge-select" multiple="multiple" name="judges[]">

                    </select>
                    <p>Judges</p>
                </div>

                <div class="acts">


                    <select class="act-select" multiple="multiple" name="acts[]">
                        <option value="adf">Tamil Nadu Prevention of Dangerous Activities of Bootleggers, Drug-offenders,
                            Goondas, Immoral Traffic Offenders, Forest-offenders, Sand-Offenders, Slum-grabbers and Video
                            Pirates Act, 1982
                        </option>
                    </select>

                    <p>Acts</p>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="recents">
    <img src="../static/img/recent.png" alt="Recent">
    <span>Recent</span>

    <div class="recent-list">

        <ul>
            {% for recent in recents %}
            <li category="{{ recent['category'] }}" acts="{{ recent['acts'] }}" judge="{{ recent['judge'] }}" from="{{ from }}" to="{{ to }}"> {{ recent["query"] }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
<div class="footer">
    <ul>
        <li style="margin-left: 5%">Help</li>
        <li style="margin-left: 5%">Send Feedback</li>
        <li style="margin-left: 5%">Privacy</li>
        <li style="margin-left: 5%"> Terms</li>
    </ul>
    <div>&copy 2019-20 Legal Assistant Corporation | All rights reserved</div>
</div>
</body>
</html>
