<!DOCTYPE html>
<html lang="en">
<head>
  <title>Legal Assistant</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Legal Assistant, Legal Query, Cases, Acts, Legal Help" />
  <meta name="author" content="Open Soft" />
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- For fa fa-angle-down -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

  </style>


</head>

  <body>
    <div class="header">
        <img style="position: fixed" src="../static/img/nav-logo.png">
        <div class="header-text">LegalAssistant.com</div>
        <hr class="line">
        <div class="dropdowns">
            <button class="buttons">Law Topics <i class="fa fa-angle-down arrow"></i></button>
            <button class="buttons">Insight & Analysis <i class="fa fa-angle-down arrow"></i></button>
            <button class="buttons">Surveys & Rankings <i class="fa fa-angle-down arrow"></i></button>
            <button class="buttons">Legal Newswire <i class="fa fa-angle-down arrow"></i></button>
            <button class="buttons">Practice Tools <i class="fa fa-angle-down arrow"></i></button>
            <button class="buttons"
            >All Sections <i class="fa fa-angle-down arrow"></i></button>
        </div>
    </div>

    <img src="../static/img/logo.png" alt="logo" class="logo">
    <div class="search-box">
    <form method="get">
        <div class="input-group inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="&#xF002; search by keywords/ NL query / case title / act / section" style="font-family:Arial, FontAwesome" name="query">
            <span class="input-group-btn">
                <button type="submit" id="search_button" class="btn btn-default" value="search">Search</button>
            </span>
            
        </div>
    <div class="filter-wrap">
        <div class="filters">
            <div class="filter-icon"><img src="../static/img/filter.png" alt="filter">Filter Search</div> <div class="date"><span class="from">from : <input type="date" name="from"></span> <span class="to">to: <input type="date" name="to"></span></div>
        </div>
        <div class="more-filters">
            <div class="category">
                <input placeholder="&#xF002; Category" style="font-family:Arial, FontAwesome" aria-label="Category" name="category">
                <p>Category</p>
            </div>
            <div class="Acts">
                <input type="Acts" placeholder="&#xF002; Acts" style="font-family:Arial, FontAwesome" aria-label="Acts" name="acts">
                <p>Acts</p>
            </div>
            <div class="Judge">
                <input type="Judge" placeholder="&#xF002; Judge" style="font-family:Arial, FontAwesome" aria-label="Judge" name="judge">
                <p>Judge</p>
            </div>
        </div>
    </div>
    </form>

    </div>
    <div class="recents">
        <img src="../static/img/recent.png" alt="Recent">
        <span>Recent</span>

        <div class="recent-list">

            <ul>
                {% for recent in recents %}
                    <li> {{ recent }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="footer">
        <ul>
            <li style="margin-left: 5%">Help</li>
            <li style="margin-left: 5%">Send Feedback</li>
            <li style="margin-left: 5%">Privacy</li>
            <li style="margin-left: 5%"> Terms</li>
        </ul>
        <div>&copy 2019-20 Legal Assistant Corporation | All rights reserved</div>
    </div>
  </body>
  </html>
